
body {
    max-width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    background: url(bg1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    color: white;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    z-index: -1;
}

#logo:hover {
    cursor: pointer;
}

.navbar>ul {

    list-style-type: none;

}

.navbar a:link,
.navbar a:visited {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    cursor: pointer;
}
.navbar li {
    display: inline;
    margin-right: 20px !important;

}

#title {
    margin-top: 200px;
    width: max-content;
    height: 90px;
}

#title,
#subtitle {
    font-family: 'Poppins', sans-serif;
    margin-left: 30px;
}

#more {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #fd6262;
    color: white;
    margin-left: 30px;
}

#more:hover {
    cursor: pointer;
    animation: fadeOut 2s forwards;
}

#start-btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    height: 30px;
    background-color: transparent;
    color:white;
    border: 2px solid white;
    border-radius: 5px;
}

#start-btn:hover {
    cursor: pointer;

}

@keyframes fadeOut {
    0% {
        background-color: #fd6262;
        border: 1px solid black;
    }

    100% {
        background-color: transparent;
        border: 1px solid white;
    }

}